@charset "utf-8";
/* CSS Document */
BODY{margin:0px;}

#header{border-bottom:6px solid #0249A3;}

.top_links{ text-decoration:none;
font-family:Verdana, Geneva, sans-serif;
color:#000;
font-size:11px;
padding-left:7px;
padding-right:10px;
padding-top:12px;
}


.top_links a{ text-decoration:none;
font-family:Verdana, Geneva, sans-serif;
color:#000;
font-size:11px;
padding-left:7px;
padding-right:10px;
padding-top:12px;
}

.red{
	border:0px;
	text-align:center;
padding-top:12px;	color: #F00;
}

.top_links a:hover{ text-decoration:underline;
font-family:Verdana, Geneva, sans-serif;
color:#F60;
font-size:11px;
padding-left:7px;
padding-right:10px;
padding-top:12px;
}

body {margin:0px; font: 11px Verdana, Helvetica, sans-serif; font-weight:normal; background:#fff}
ul.menu {list-style:none; margin-top:3px; margin-left:0px; padding-left:0px; }
ul.menu * {margin:0; padding:0;z-index:1001}
ul.menu a {display:block; color:#000; text-decoration:none; font: 11px Verdana, Helvetica, sans-serif; font-weight:normal; border-bottom: #535353 1px dotted;}
ul.menu li {position:relative; float:left;  margin-right:0px}
ul.menu ul {position:absolute; top:26px; left:0px; background:#d1d1d1; display:none; opacity:0; list-style:none}
ul.menu ul li {position:relative;  border:0px solid #aaa; border-top:none; width:130px; margin:0}
ul.menu ul li a {display:block; padding:3px 7px 5px 5px; background-color:#DAE8F9}
ul.menu ul li a:hover {background-color:#fff}
ul.menu ul ul {left:130px; top:-1px}
ul.menu .menulink {border:0px solid #aaa; padding:5px 0px 0px  0px; font-weight:normal; text-align:center; background:url(/images/light_blue.jpg);
height:19px; width:80px;}
ul.menu .menulink:hover, ul.menu .menuhover {background:url(/images/dark_blue.jpg);}
ul.menu .sub {background:#C9E1FF url(/images/arrow.gif) 110px 8px no-repeat;}
ul.menu .topline {border-top:0px solid #aaa}


#content table{text-align:center}

  #content th{background-image:url(../images/bg_color.jpg) ;
height:20px;
font-family:Arial;
font-weight:normal;
color:#FFF;
text-align:left;
padding-left:5px;}

  #content td{

font-family:Verdana, Geneva, sans-serif;
height:30px;
font-weight:normal;
color:#000;
text-align:left;
padding-left:5px;padding-right:10px;}

select{ 
font-family: Arial;
color:#000;
font-weight:normal;
font-size:10px;
}

input{

font-family: Arial;
color:#000;
font-weight:normal;
font-size:10px;
}

textarea{
font-family:Arial;
color:#000;
font-weight:normal;
font-size:10px;
}


.button{background-color:#0B76BA;
color:#ffffff;
border-right:solid #666666 1px;
border-left:solid #666 0px;
border-top:solid #666 0px;
border-bottom:solid #666666 1px;
height:25px;
letter-spacing:1px;}

#Footer{height:30px;
background-color:#0249A3;
margin-top:180px;
}

.star{color:#FF0000;}

 .grid1{
background-color:#FDF7EF;
height:25px;
font-family:Tahoma, Arial, Verdana;
font-size:11px;
color:#223649;
text-decoration:none;
padding-left:10px;
}

.grid2{
background-color:#FFFEFD;
height:25px;
font-family:Tahoma, Arial, Verdana;
font-size:11px;
color:#223649;
text-decoration:none;
padding-left:10px
}

.gridtotal{
background-color:#DCCAB0;
height:25px;
font-family:Tahoma, Arial, Verdana;;
font-size:13px;
color:#FFFFFF;
text-decoration:none;
padding-left:10px
}


.tablebg td{
font-family:arial;
background-color:#FDF7EF;
border:0px #3A7AB1 solid;
height:20px;

font-weight:lighter;
text-align:left;
padding-left:5px;
padding-right:5px;

}

.tablebg th{
font-family:arial;
background-color:#DFE7EB;
border:0px #3A7AB1 solid;
height:20px;

font-weight:bold;
text-align:center;
padding-left:5px;
padding-right:5px;

}

 .tablebg table{
border:0px;
}

.table_bgcolor td{	
font-family:arial;
background-color:#FDF7EF;
border-color:purple;
height:20px;
font-weight:lighter;
text-align:left;
padding-left:5px;padding-right:10px;
}

.table_bgcolor th{	
font-family:arial;
background-color:#DFE7EB;
border-color:purple;
height:20px;
font-weight:bold;
text-align:center;
padding-left:5px;padding-right:10px;
}

.table_bgcolor table{
border:0px;
}
.exampletext{font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#730000;
}
#back
{
color:#000;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}

#bluelink a
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#00667C;
text-decoration:none
}

#bluelink a:hover
{
color:#000;
}
.text_white a{
	color: #FFFFFF;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration:none;
}
a{font-family: Arial;
font-size:11px;
font-weight:normal;
color:#0099FF;
text-decoration:none
}

a:hover{font-family: Arial;
font-size:11px;
font-weight:normal;
color:#0099FF;
text-decoration:underline;
}
  /* this class for all normal text like content of table text */
.normal{font-family:Arial;
font-size:10px;
font-weight:normal;
color:#000000;

}
 /* this class for all h4 tag text */
 h4{
height:20px;
font-family:Verdana, Geneva, sans-serif;
font-weight:bold;
color:#000000;
text-align:center;
padding-top:1px;
margin-right:10px;
margin-left:10px;}

h3{width:99%;
background:#DFE7EB;
height:17px;
border:#C6DDEB 1px solid;
font-family:Arial, Helvetica, sans-serif;
font-weight:bold;
color:#0082BF;
text-align:center;
padding:0px;
text-transform:uppercase;
font-size:13px;

}

 /* this class for all alert message text */
 .alert{font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#730000;
 }
 
  /* this class for all alert message text */
 .alert_main{color:#FF0000;
 font-family:Arial; 
 font-size:13px;
 font-weight:bold
 }
 
  /* this class for self showing in crm screen */
 .self_green
	{
font-family:Arial; 
font-weight:bold;
font-size:10px;
color:green;
}
.block_record
	{
font-family:Arial; 
font-weight:bold;
font-size:10px;
color:#00667C;
}
 
 .text_heading{font-family:Arial; 
font-size: 10px;
padding-left:5px;
text-align:left;

font-weight:bold}


.limitheading{
font-family: Arial;;
font-size: 10px;
padding-left:5px;
text-align:left;
background-color:#FF99FF;
font-weight: normal
}


/*.subheading{
font-family: Arial;
font-size:12px;
color:#000;
font-weight:normal;
width:100%;
background-color:#DFE7EB ;
height:20px;
border:#C6DDEB 1px solid;
}*/

.Sub_heading2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;
}
.subheading{
	font-family: Arial;
	font-size:10px;
	color:#000;
	font-weight:normal;
	background:url(../images/bg_img.JPG);
	height:20px;
	border:#A2D8FE 1px solid;
	border-top:0px;
	width:100%;
	padding-left:3px;
	padding-top:2px;
	font-weight:bold;
}

.mainheading{
background-color:#33CCFF;
width:820px;
font-family:arial;
font-size:14px;
color:#000;
font-weight:bold;
}
.blueheadingtext
	{
font-family:Arial; 
font-weight:bold;
font-size:10px;
color:#00667C;
}

.text_bold{font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;}
	
	
	.subheading_new{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#0082BF;
	width:100%;
	background:url(/images/bg_img.JPG);
	height:16px;
	border:#A2D8FE 1px solid;
	border-top:0px;
	padding-left:10px;
	padding-top:2px;
	
}

.total{ color:#900;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;padding-left:10px;}

.Sub_heading2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: bold;}
	
	.letter_bold{font-family:"Times New Roman", Times, serif;
	font-size:13px;
	font-weight:bold;}
	
	.letter_text{font-family:"Times New Roman", Times, serif;
	font-size: 12px;
	text-align:left;	
	}
	  /* this class for all alert message text */
	 .alert_heading{color:#730000;
	 font-family:Arial; 
	 font-size:13px;
	 font-weight:bold
	 }
	
